.avatar{
  position: relative;
}

.diaIcon{
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}

.volunteerIcon{
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}